.rt-panes{
  width: 100%;
  margin-left: 2%;
  font-family: 'Lato', sans-serif;
  .rt-pane-heading{
    font-size: 22px;
    padding-bottom: 1%;

  }

  .rt-pane-description{
    font-size: 17px;
    width: 80%;
    line-height: normal;
    display: flex;
    
  }
}
