.rt-tabs{
  width: 100%;
  display: flex;


.rt-tab{
    margin: 2%;
    font-size: 25px;
    cursor: pointer;
  }

.active{
      border-bottom:5px solid blue;
  }

.not-active{
    border-bottom: none;
  }

}
